@import "variables.scss";
@import "scaffolding.scss";


/* Scaffolding.scss File*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* page-header*/

.page-header {
  width: 100%;
  position: relative;

  height: 56px;
  background: grey;
}

.main-nav {
  width: 320px;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
